<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Movie App</title>

    <style>
      body{
        font-family: 'Courier New', Courier, monospace;
      }
      .btn{
        background-color: rgb(171, 98, 231);
        color: aliceblue;
      }
    </style>
</head>
<body>
                        
         
                <div class="row bg-dark">
                    <% record.forEach(movie => { %>
                        <div class="col-md-3 mb-4">
                            <div class="card bg-dark text-light">
                                <img src="<%= movie.image %>" width="100" class="card-img-top" alt="<%= movie.title %>">
                                <div class="card-body">
                                    <h5 class="card-title"><%= movie.title %></h5>
                                    <p class="card-text"><%= movie.description %></p>
                                    <p class="card-price">price :- $<%= movie.price %></p>
                                    <form action="/delete/<%= movie.id %>" method="POST" style="display: inline;">
                                        <a href="/delete?deleteid=<%= movie.id %>" class="btn">Delete</a>
                                        <a href="/edit?editid=<%= movie.id %>" class="btn">Edit</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </main>
        </div>
    </div>

    
</body>
</html>
                    